h1 {
    color: brown;

}

.border {
    margin-left: 50px;
}

.linkfb {
    color: red; 
    font-style: oblique;
    font-size: 20px;
}

button {
    border: 2px;
    border-color: black;
    border-style:groove;
}